

        <div class="container">
        <div class="row ">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="/images/nodejs.jpg">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>Buy this Super Cool Nodejs Sticker.</p>
                </div>
                <div class="card-action" style="text-align: center;">
                   {{!-- <form action="/pay" method="POST"> --}}
                    <button class="btn waves-effect waves-light" id="payment-button">Buy 10$
                        
                        </button>
                    <script src="https://khalti.com/static/khalti-checkout.js"></script>
                     <script>

                            var config = {
                                // replace the publicKey with yours
                                "publicKey": "{{KhaltiPublishableKey}}",
                                "productIdentity": "1234567890",
                                "productName": "Nodejs",
                                "productUrl": "http://localhost:5000/",
                                "eventHandler": {
                                    onSuccess (payload) {
                                        // hit merchant api for initiating verfication
                                        console.log(payload);
                                        
                                    },
                                    onError (error) {
                                        console.log(error);
                                    },
                                    onClose () {
                                        console.log('widget is closing');
                                    }
                                }
                            };

                            const checkout = new KhaltiCheckout(config);
                            const btn = document.getElementById("payment-button");
                           btn.onclick = function () {
                                  checkout.show({amount: 1000});
                              }
                        </script>
                    
              
                </div>
              </div>
            </div>
          </div>
        </div>



